<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  Username: <%= f.text_field :username %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>

<% end %>

<h1>Login</h1>

<%= form_tag '/login' do %>

  Username: <%= text_field_tag :username %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>

<% end %>
